/* ========== SECTION MISE ========== */
.form-mise {
    margin-top: 20px;
    background-color: #fff7e6;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #e5d8b0;
}

.form-mise label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1rem;
    color: #333;
}

.form-mise input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 15px;
}

.form-mise button {
    background-color: #4a3f2d;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.form-mise button:hover {
    background-color: #b0975c;
}

.alert {
    background-color: #fdecea;
    color: #c62828;
    border-left: 5px solid #ef5350;
    padding: 12px;
    border-radius: 6px;
    margin-top: 20px;
}

.btn-connect {
    display: inline-block;
    margin-top: 10px;
    color: #4a3f2d;
    font-weight: bold;
    text-decoration: underline;
}

.bouton-annuler {
    background-color: #dc3545 !important;
    color: var(--couleur-texte);
}

.bouton-annuler:hover {
    background-color: #c82333 !important;
    color: var(--couleur-principale);
}
